* {
  padding: 0%;
  margin: 0%;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: auto;
  background-color: #ffffff;
}

.home-page-space-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  min-height: 600px;
}

.home-page-space-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 600px;
}

.home-page-content {
  display: flex;
  /* align-items: center; */
  width: 70%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-section {
  flex: 1;
}

.text-section h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #2c2b5e;
  padding-right: 20px;
}

.text-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #2c2b5ebd;
}

.cta-buttons {
  display: flex;
}

.explore-button,
.review-button {
  padding: 12px 20px;
  font-size: 16px;
  margin-right: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.explore-button {
  background-color: #2c2b5e;
  color: #fff;
}

.explore-button:hover {
  background-color: #2c2b5ec2;
}

.review-button {
  background-color: white;
  color: #2c2b5e;
  border: 2px solid #2c2b5e;
}

.review-button:hover {
  background-color: rgba(255, 255, 255, 0.46);
}

.image-section {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

