.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 20px; */
    background-color: #ffffff;
    min-height: 100vh;
} 

.reviews-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    background-color: #f0f0f0;
}

.reviews-banner h1 {
    font-size: 70px;
    color: #2c2b5e;
    margin-bottom: 20px;
    border-bottom: 1px solid #2c2b5e;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

.reviews-banner h2 {
    font-size: 30px;
    color: #2c2b5e;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}

.reviews-banner strong {
    color: #2c2b5e;
    font-weight: 900;
}

.review-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 100%;
    background-color: #ffffff;
    padding: 50px;
    padding-bottom: 0px;
}

.review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.review-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.review-delete img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.reviews-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    background-color: #ffffff;
}

.reviews-bottom button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    background-color: #2c2b5e;
    color: white;
    cursor: pointer;
}

.reviews-bottom button:hover {
    background-color: #2c2b5ebd;
    color: white;
}